/* use variables when about:config variable userChrome.theme-dracula is true */
@media -moz-pref("userChrome.theme-dracula") {
  :root,
  html,
  body {
    --md-text-primary: light-dark(color-mix(in srgb, #ddd8f8 70%, black), #ddd8f8) !important;
    --md-text-secondary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), color-mix(in srgb, #ddd8f8 44%, transparent)) !important;
    --md-tab-label-color: color-mix(in srgb, #ddd8f8 80%, white) !important;
    --md-accent-color: #bd93f9;
    --md-background-color-0: #212533;
    --md-background-color-50: #272a3a;
    --md-background-color-100: #3B3D51;
    /*--md-tab-background-color-hover: #2c3142; */
    --md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 28%, transparent);
    /*--md-menu-background-color-hover: color-mix(in srgb, var(--md-menu-background-color) 80%, #bfd7ff); */
    /*--md-menu-background-color-hover: light-dark(AccentColor, var(--md-background-color-100)); */
    --md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, transparent 76%, var(--md-accent-color)));
    --md-menu-background-color: var(--md-background-color-0);
    --md-tab-label-color-inactive: var(--md-tab-label-color);
    --md-selection-text-color: var(--md-white);
    --md-selection-background-color: #965be9;
    --md-icon-color-secondary: var(--md-text-secondary);
    --md-menu-border-color: color-mix(in srgb, var(--md-background-color-100) 96%, white);
    --md-content-separator-color: color-mix(in srgb, var(--md-menu-border-color) 94%, white);
    --md-menu-border-size: 1px solid;
    --md-icon-color-primary: var(--md-tab-label-color);
    --md-control-background-color: color-mix(in srgb, transparent 76%, var(--md-accent-color));
    @media not -moz-pref("userChrome.ui-chrome-refresh") {
      --tab-min-height: 36px !important;
      --md-menu-border-size: 1px solid;
    }
  }
}

@media -moz-pref("userChrome.theme-github") {
  :root,
  html,
  body {
    --md-text-primary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), #d1d7e0) !important;
    --md-text-secondary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), color-mix(in srgb, #d1d7e0 44%, transparent)) !important;
    --md-accent-color: #2f81f7;
    --md-tab-label-color: color-mix(in srgb, #d1d7e0 65%, white) !important;
    --md-background-color-0: #222931;
    --md-background-color-50: #242c35;
    --md-background-color-100: #323b46;
    /*--md-tab-background-color-hover: #29333d; */
    --md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 28%, transparent);
    --md-menu-background-color: var(--md-background-color-0);
    /* --md-menu-background-color-hover: color-mix(in srgb, var(--md-menu-background-color) 85%, white); */
    /*--md-menu-background-color-hover: light-dark(AccentColor, var(--md-background-color-100)); */
    --md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, transparent 76%, var(--md-accent-color)));
    --md-tab-label-color-inactive: var(--md-tab-label-color);
    --md-menu-border-color: #3c434d;
    --md-content-separator-color: var(--md-menu-border-color);
    --md-selection-text-color: var(--md-white);
    --md-selection-background-color: color-mix(in srgb, var(--md-accent-color) 80%, black);
    --md-icon-color-secondary: var(--md-text-secondary);
    --md-text-on-accent: var(--md-white);
    --md-menu-border-size: 1px solid;
    --md-icon-color-primary: var(--md-tab-label-color);
    --md-control-background-color: color-mix(in srgb, transparent 76%, var(--md-accent-color));
    @media not -moz-pref("userChrome.ui-chrome-refresh") {
      --tab-min-height: 36px !important;
      --md-menu-border-size: 1px solid;
    }
  }
}

@media -moz-pref("userChrome.theme-slate") {
  :root,
  html,
  body {
    --md-text-primary: light-dark(color-mix(in srgb, #ced8e9 70%, black), #ced8e9) !important;
    --md-text-secondary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), color-mix(in srgb, #ced8e9 44%, transparent)) !important;
    --md-accent-color: #7ea7d6;
    --md-tab-label-color: color-mix(in srgb, #ced8e9 75%, white) !important;
    --md-background-color-0: #222c3b;
    --md-background-color-50: #263041;
    --md-background-color-100: #384558;
    --md-tab-background-color-hover: #313d4e;
    --md-menu-background-color: var(--md-background-color-0);
    /* --md-menu-background-color-hover: color-mix(in srgb, var(--md-menu-background-color) 85%, white); */
    --md-menu-background-color-hover: light-dark(AccentColor, var(--md-background-color-100));
    --md-tab-label-color-inactive: var(--md-tab-label-color);
    --md-selection-text-color: var(--md-white);
    --md-selection-background-color: #406fa5;
    --md-menu-border-color: light-dark(MenuText, #415e74ab);
    --md-icon-color-secondary: var(--md-text-secondary);
    --md-content-separator-color: var(--md-menu-border-color);
    --md-menu-border-size: 1px solid;
    --md-icon-color-primary: var(--md-tab-label-color);
    @media not -moz-pref("userChrome.ui-chrome-refresh") {
      --tab-min-height: 36px !important;
      --md-menu-border-size: 1px solid;
    }
  }
}

@media -moz-pref("userChrome.theme-tokyonight") {
  :root,
  html,
  body {
    --md-text-primary: light-dark(color-mix(in srgb, #ced8e9 70%, black), #c0caf5) !important;
    --md-text-secondary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), color-mix(in srgb, #c0caf5 44%, transparent)) !important;
    --md-accent-color: #2ac3de;
    --md-tab-label-color: color-mix(in srgb, #c0caf5 65%, white) !important;
    --md-background-color-0: #202435;
    --md-background-color-50: color-mix(in srgb, var(--md-background-color-0) 93%, #7192db);
    --md-background-color-100: #323C59;
    /*--md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 32%, transparent); */
    --md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 28%, transparent);
    --md-menu-background-color: var(--md-background-color-0);
    /* --md-menu-background-color-hover: color-mix(in srgb, var(--md-menu-background-color) 85%, white); */
    --md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, transparent 76%, var(--md-accent-color)));
    --md-tab-label-color-inactive: var(--md-tab-label-color);
    --md-selection-text-color: var(--md-white);
    --md-selection-background-color: color-mix(in srgb, var(--md-accent-color) 80%, black);
    --md-menu-border-color: color-mix(in srgb, var(--md-background-color-100) 96%, white);
    --md-icon-color-secondary: var(--md-text-secondary);
    --md-content-separator-color: color-mix(in srgb, var(--md-menu-border-color) 95%, white);
    --md-menu-border-size: 1px solid;
    --md-icon-color-primary: var(--md-tab-label-color);
    --md-control-background-color: color-mix(in srgb, transparent 76%, var(--md-accent-color));
    @media not -moz-pref("userChrome.ui-chrome-refresh") {
      --tab-min-height: 36px !important;
      --md-menu-border-size: 1px solid;
    }
  }
}

@media -moz-pref("userChrome.theme-system-accent") {
  /* use variables when dark mode */
  @media (prefers-color-scheme: dark) {
    :root,
    html,
    body {
      --md-text-primary: color-mix(in srgb, AccentColor 13%, white) !important;
      --md-text-secondary: color-mix(in srgb, var(--md-tab-label-color) 44%, transparent) !important;
      --md-tab-label-color: color-mix(in srgb, var(--md-text-primary) 72%, white) !important;
      --md-tab-label-color-inactive: var(--md-tab-label-color);
      --md-icon-color-primary: var(--md-tab-label-color);
      --md-icon-color-secondary: var(--md-text-primary);
      --md-accent-color: color-mix(in srgb, var(--md-grey-200) 30%, AccentColor);
      --md-tab-background-color-hover: color-mix(
        in srgb,
        transparent 75%,
        var(--md-accent-color)
      );
      --md-tab-opacity: 1.0;
      --md-background-color-0: color-mix(
        in srgb,
        var(--md-grey-900) 85%,
        var(--md-accent-color)
      );
      --md-background-color-50: color-mix(
        in srgb,
        var(--md-grey-900-white-4-percent) 85%,
        var(--md-accent-color)
      );
      --md-background-color-100: color-mix(
        in srgb,
        var(--md-grey-900-white-5-percent) 85%,
        var(--md-accent-color)
      );
      /*--md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, var(--md-grey-800) 80%, var(--md-accent-color))); */
      --md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, transparent 76%, var(--md-accent-color)));
      --md-menu-border-color: color-mix(
        in srgb,
        var(--md-grey-800) 85%,
        var(--md-accent-color)
      );
      --md-text-on-accent: var(--md-white);
      --md-secondary-button-text: var(--md-text-primary);
      --md-content-separator-color: color-mix(in srgb, var(--md-menu-border-color) 94%, white);
      --md-selection-text-color: var(--md-text-on-accent);
      --md-selection-background-color: color-mix(in srgb, var(--md-accent-color) 82%, black);
      --md-control-background-color: color-mix(in srgb, transparent 76%, var(--md-accent-color));
      --md-menu-border-size: 1px solid;
      @media not -moz-pref("userChrome.ui-chrome-refresh") {
        --tab-min-height: 36px !important;
        --md-menu-border-size: 1px solid;
      }
    }
  }

  /* use variables when light mode */
  @media (prefers-color-scheme: light) {
    :root,
    html,
    body {
      --md-accent-color: color-mix(
        in srgb,
        var(--md-grey-900) 15%,
        AccentColor
      );
      --md-tab-background-color-hover: color-mix(
        in srgb,
        transparent 75%,
        var(--md-accent-color)
      );
      --md-tab-opacity: 0.9;
      --md-background-color-0: color-mix(
        in srgb,
        #dee1e6 90%,
        var(--md-accent-color)
      );
      --md-background-color-50: color-mix(
        in srgb,
        var(--md-grey-100) 90%,
        var(--md-accent-color)
      );
      --md-background-color-100: color-mix(
        in srgb,
        var(--md-white) 90%,
        var(--md-accent-color)
      );
      --md-menu-background-color-hover: color-mix(
        in srgb,
        var(--md-background-color-0) 90%,
        var(--md-accent-color)
      );
      --md-menu-border-color: color-mix(
        in srgb,
        var(--md-background-color-0) 90%,
        var(--md-accent-color)
      );
      --md-content-separator-color: color-mix(
        in srgb,
        #dbdcdd 90%,
        var(--md-accent-color)
      );
      --md-secondary-button-text: var(--md-accent-color);
      --md-selection-text-color: var(--md-text-on-accent);
      --md-selection-background-color: var(--md-accent-color);
      --md-menu-border-size: 2px solid;
      @media not -moz-pref("userChrome.ui-chrome-refresh") {
        --tab-min-height: 36px !important;
        --md-menu-border-size: 1px solid;
      }
    }
  }
}