@import "custom.css";

*, html, body {
    font-smooth: always !important;
    text-rendering: optimizelegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@-moz-document url-prefix(about:about),
 url-prefix(about:addons),
 url-prefix(about:buildconfig),
 url-prefix(about:certificate),
 url-prefix(about:compat),
 url-prefix(about:config),
 url-prefix(about:crashes),
 url-prefix(about:debugging),
 url-prefix(about:devtools),
 url-prefix(about:downloads),
 url-prefix(about:home),
 url-prefix(about:license),
 url-prefix(about:logins),
 url-prefix(about:networking),
 url-prefix(about:performance),
 url-prefix(about:plugins),
 url-prefix(about:policies),
 url-prefix(about:privatebrowsing),
 url-prefix(about:preferences),
 url-prefix(about:processes),
 url-prefix(about:profiles),
 url-prefix(about:profiling),
 url-prefix(about:protections),
 url-prefix(about:rights),
 url-prefix(about:robots),
 url-prefix(about:serviceworkers),
 url-prefix(about:settings),
 url-prefix(about:studies),
 url-prefix(about:support),
 url-prefix(about:sync-log),
 url-prefix(about:telemetry),
 url-prefix(about:url-classifier),
 url-prefix(about:webrtc),
 url-prefix(about:welcome),
 url-prefix(about:blank),
 url-prefix(about:newtab) {
    html, body, header, #toolbar {
        background-color: var(--md-background-color-0) !important;
    }
    .sticky-inner-container {
        background-color: var(--md-background-color-0) !important;
    }
    .sticky-container {
        background-color: var(--md-background-color-0) !important;
    }
    .main-search {
        background-color: var(--md-background-color-0) !important;
    }
    .main-heading {
        background-color: var(--md-background-color-0) !important;
    }
}

@-moz-document url(about:privatebrowsing) {
    .showPrivate {
        display: none !important;
    }
}