/* use variables when about:config variable userChrome.theme-dracula is true */
@media -moz-pref("userChrome.theme-dracula") {
  :root,
  html,
  body {
    --md-text-primary: light-dark(color-mix(in srgb, #ddd8f8 70%, black), #ddd8f8) !important;
    --md-text-secondary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), color-mix(in srgb, #ddd8f8 44%, transparent)) !important;
    --md-tab-label-color: color-mix(in srgb, #ddd8f8 60%, white) !important;
    --md-tab-separator-color: var(--md-content-separator-color) !important;
    --md-accent-color: #bd93f9;
    --md-background-color-0: #212533;
    --md-background-color-50: #2b2f3e;
    --md-background-color-100: #3B3D51;
    /*--md-tab-background-color-hover: #2c3142; */
    --md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 28%, transparent);
    /*--md-menu-background-color-hover: color-mix(in srgb, var(--md-menu-background-color) 80%, #bfd7ff); */
    /*--md-menu-background-color-hover: light-dark(AccentColor, var(--md-background-color-100)); */
    --md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, transparent 76%, var(--md-accent-color)));
    --md-menu-background-color: var(--md-background-color-0);
    --md-tab-label-color-inactive: var(--md-tab-label-color);
    --md-selection-text-color: var(--md-white);
    --md-selection-background-color: #965be9;
    --md-icon-color-secondary: var(--md-text-secondary);
    --md-menu-border-color: color-mix(in srgb, var(--md-background-color-100) 96%, white);
    --md-content-separator-color: color-mix(in srgb, var(--md-menu-border-color) 94%, white);
    --md-menu-border-size: 1px solid;
    --md-icon-color-primary: var(--md-tab-label-color);
    --md-control-background-color: color-mix(in srgb, transparent 76%, var(--md-accent-color));
    @media not -moz-pref("userChrome.ui-chrome-refresh") {
      --tab-min-height: 40px !important;
      --md-menu-border-size: 1px solid;
    }
  }
}

@media -moz-pref("userChrome.theme-github") {
  :root,
  html,
  body {
    --md-text-primary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), #d1d7e0) !important;
    --md-text-secondary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), color-mix(in srgb, #d1d7e0 44%, transparent)) !important;
    --md-accent-color: #2f81f7;
    --md-tab-label-color: color-mix(in srgb, #d1d7e0 25%, white) !important;
    --md-tab-separator-color: var(--md-content-separator-color) !important;
    --md-background-color-0: #222931;
    --md-background-color-50: #242c35;
    --md-background-color-100: #323b46;
    /*--md-tab-background-color-hover: #29333d; */
    --md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 28%, transparent);
    --md-menu-background-color: var(--md-background-color-0);
    /* --md-menu-background-color-hover: color-mix(in srgb, var(--md-menu-background-color) 85%, white); */
    /*--md-menu-background-color-hover: light-dark(AccentColor, var(--md-background-color-100)); */
    --md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, transparent 76%, var(--md-accent-color)));
    --md-tab-label-color-inactive: var(--md-tab-label-color);
    --md-menu-border-color: #3c434d;
    --md-content-separator-color: color-mix(in srgb, var(--md-menu-border-color) 94%, white);
    --md-selection-text-color: var(--md-white);
    --md-selection-background-color: color-mix(in srgb, var(--md-accent-color) 80%, black);
    --md-icon-color-secondary: var(--md-text-secondary);
    --md-text-on-accent: var(--md-white);
    --md-menu-border-size: 1px solid;
    --md-icon-color-primary: var(--md-tab-label-color);
    --md-control-background-color: color-mix(in srgb, transparent 76%, var(--md-accent-color));
    @media not -moz-pref("userChrome.ui-chrome-refresh") {
      --tab-min-height: 40px !important;
      --md-menu-border-size: 1px solid;
    }
  }
}

@media -moz-pref("userChrome.theme-slate") {
  :root,
  html,
  body {
    --md-text-primary: light-dark(color-mix(in srgb, #ced8e9 70%, black), #ced8e9) !important;
    --md-text-secondary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), color-mix(in srgb, #ced8e9 44%, transparent)) !important;
    --md-accent-color: #609de2;
    --md-tab-label-color: color-mix(in srgb, #ced8e9 15%, white) !important;
    --md-tab-separator-color: var(--md-content-separator-color) !important;
    --md-background-color-0: #1f3041;
    --md-background-color-50: #243b52;
    --md-background-color-100: #315170;
    --md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 28%, transparent);
    --md-menu-background-color: var(--md-background-color-0);
    /* --md-menu-background-color-hover: color-mix(in srgb, var(--md-menu-background-color) 85%, white); */
    --md-menu-background-color-hover: light-dark(AccentColor, var(--md-background-color-100));
    --md-tab-label-color-inactive: var(--md-tab-label-color);
    --md-selection-text-color: var(--md-white);
    --md-selection-background-color: #406fa5;
    --md-menu-border-color: light-dark(MenuText, color-mix(in srgb, var(--md-background-color-100) 96%, white));
    --md-icon-color-secondary: var(--md-text-secondary);
    --md-content-separator-color: color-mix(in srgb, var(--md-menu-border-color) 88%, white);
    --md-menu-border-size: 1px solid;
    --md-icon-color-primary: var(--md-tab-label-color);
    @media not -moz-pref("userChrome.ui-chrome-refresh") {
      --tab-min-height: 40px !important;
      --md-menu-border-size: 1px solid;
    }
  }
}

@media -moz-pref("userChrome.theme-tokyonight") {
  :root,
  html,
  body {
    --md-text-primary: light-dark(color-mix(in srgb, #ced8e9 70%, black), #c0caf5) !important;
    --md-text-secondary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), color-mix(in srgb, #c0caf5 44%, transparent)) !important;
    --md-accent-color: #2ac3de;
    --md-tab-label-color: color-mix(in srgb, #c0caf5 45%, white) !important;
    --md-tab-separator-color: var(--md-content-separator-color) !important;
    --md-background-color-0: #202435;
    --md-background-color-50: color-mix(in srgb, var(--md-background-color-0) 93%, #7192db);
    --md-background-color-100: #323C59;
    /*--md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 32%, transparent); */
    --md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 28%, transparent);
    --md-menu-background-color: var(--md-background-color-0);
    /* --md-menu-background-color-hover: color-mix(in srgb, var(--md-menu-background-color) 85%, white); */
    --md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, transparent 76%, var(--md-accent-color)));
    --md-tab-label-color-inactive: var(--md-tab-label-color);
    --md-selection-text-color: var(--md-white);
    --md-selection-background-color: color-mix(in srgb, var(--md-accent-color) 80%, black);
    --md-menu-border-color: color-mix(in srgb, var(--md-background-color-100) 96%, white);
    --md-icon-color-secondary: var(--md-text-secondary);
    --md-content-separator-color: color-mix(in srgb, var(--md-menu-border-color) 94%, white);
    --md-menu-border-size: 1px solid;
    --md-icon-color-primary: var(--md-tab-label-color);
    --md-control-background-color: color-mix(in srgb, transparent 76%, var(--md-accent-color));
    --md-control-border-color: red !important;
    @media not -moz-pref("userChrome.ui-chrome-refresh") {
      --tab-min-height: 40px !important;
      --md-menu-border-size: 1px solid;
    }
  }
}

@media -moz-pref("userChrome.theme-darkblue") {
  :root,
  html,
  body {
    --md-text-primary: light-dark(color-mix(in srgb, #ced8e9 70%, black), #bfcbe3) !important;
    --md-text-secondary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), color-mix(in srgb, #bfcbe3 44%, transparent)) !important;
    --md-accent-color: #43a3e4;
    --md-tab-label-color: color-mix(in srgb, #bfcbe3 65%, white) !important;
    --md-tab-separator-color: var(--md-content-separator-color) !important;
    --md-background-color-0: #052135;
    --md-background-color-50: #0f293f;
    --md-background-color-100: #193750;
    /*--md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 32%, transparent); */
    --md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 28%, transparent);
    --md-menu-background-color: var(--md-background-color-0);
    /* --md-menu-background-color-hover: color-mix(in srgb, var(--md-menu-background-color) 85%, white); */
    --md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, transparent 70%, var(--md-accent-color)));
    --md-tab-label-color-inactive: var(--md-tab-label-color);
    --md-selection-text-color: var(--md-white);
    --md-selection-background-color: color-mix(in srgb, var(--md-accent-color) 80%, black);
    --md-menu-border-color: color-mix(in srgb, var(--md-background-color-100) 96%, white);
    --md-icon-color-secondary: var(--md-text-secondary);
    --md-content-separator-color: color-mix(in srgb, var(--md-menu-border-color) 94%, white);
    --md-menu-border-size: 1px solid;
    --md-icon-color-primary: var(--md-tab-label-color);
    --md-control-background-color: color-mix(in srgb, transparent 70%, var(--md-accent-color));
    --md-control-border-color: red !important;
    @media not -moz-pref("userChrome.ui-chrome-refresh") {
      --tab-min-height: 40px !important;
      --md-menu-border-size: 1px solid;
    }
  }
}


@media -moz-pref("userChrome.theme-blurple") {
  :root,
  html,
  body {
    --md-text-primary: light-dark(color-mix(in srgb, #ced8e9 70%, black), #d0c5ff) !important;
    --md-text-secondary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), color-mix(in srgb, #c4c9f3 44%, transparent)) !important;
    /*--md-accent-color: #817ff5; */
    --md-accent-color: #39abf7;
    --md-tab-label-color: color-mix(in srgb, var(--md-accent-color) 8%, white) !important;
    --md-tab-separator-color: var(--md-content-separator-color) !important;
    --md-background-color-0: #1c1841;
    --md-background-color-50: #24215a;
    --md-background-color-100: #312d7c;
    /*--md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 32%, transparent); */
    --md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 28%, transparent);
    --md-menu-background-color: var(--md-background-color-0);
    /* --md-menu-background-color-hover: color-mix(in srgb, var(--md-menu-background-color) 85%, white); */
    --md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, transparent 70%, var(--md-accent-color)));
    --md-tab-label-color-inactive: var(--md-tab-label-color);
    --md-selection-text-color: var(--md-white);
    --md-selection-background-color: color-mix(in srgb, var(--md-accent-color) 80%, black);
    --md-menu-border-color: color-mix(in srgb, var(--md-background-color-100) 96%, white);
    --md-icon-color-secondary: var(--md-text-secondary);
    --md-content-separator-color: color-mix(in srgb, var(--md-menu-border-color) 88%, white);
    --md-menu-border-size: 1px solid;
    --md-icon-color-primary: var(--md-tab-label-color);
    --md-control-background-color: color-mix(in srgb, transparent 70%, var(--md-accent-color));
    --md-control-border-color: red !important;
    @media not -moz-pref("userChrome.ui-chrome-refresh") {
      --tab-min-height: 40px !important;
      --md-menu-border-size: 1px solid;
    }
  }
}

@media -moz-pref("userChrome.theme-nord") {
  :root,
  html,
  body {
    --md-text-primary: light-dark(color-mix(in srgb, #ced8e9 70%, black), #d8eee9) !important;
    --md-text-secondary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), color-mix(in srgb, #d8eee9 44%, transparent)) !important;
    --md-accent-color: #81a1c1;
    --md-tab-label-color: color-mix(in srgb, #d8eee9 65%, white) !important;
    --md-tab-separator-color: var(--md-content-separator-color) !important;
    --md-background-color-0: #313744;
    --md-background-color-50: #373d49;
    --md-background-color-100: #454e5f;
    /*--md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 32%, transparent); */
    --md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 28%, transparent);
    --md-menu-background-color: var(--md-background-color-0);
    /* --md-menu-background-color-hover: color-mix(in srgb, var(--md-menu-background-color) 85%, white); */
    --md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, transparent 76%, var(--md-accent-color)));
    --md-tab-label-color-inactive: var(--md-tab-label-color);
    --md-selection-text-color: var(--md-white);
    --md-selection-background-color: color-mix(in srgb, var(--md-accent-color) 80%, black);
    --md-menu-border-color: color-mix(in srgb, var(--md-background-color-100) 96%, white);
    --md-icon-color-secondary: var(--md-text-secondary);
    --md-content-separator-color: color-mix(in srgb, var(--md-menu-border-color) 94%, white);
    --md-menu-border-size: 1px solid;
    --md-icon-color-primary: var(--md-tab-label-color);
    --md-control-background-color: color-mix(in srgb, transparent 46%, var(--md-accent-color));
    --md-control-border-color: red !important;
    @media not -moz-pref("userChrome.ui-chrome-refresh") {
      --tab-min-height: 40px !important;
      --md-menu-border-size: 1px solid;
    }
  }
}

@media -moz-pref("userChrome.theme-catppuccin") {
  :root,
  html,
  body {
    --md-text-primary: light-dark(color-mix(in srgb, #ced8e9 70%, black), #cdd6f4) !important;
    --md-text-secondary: light-dark(color-mix(in srgb, #d1d7e0 70%, black), color-mix(in srgb, #cdd6f4 44%, transparent)) !important;
    --md-accent-color: #74c7ec;
    --md-tab-label-color: color-mix(in srgb, #cdd6f4 35%, white) !important;
    --md-tab-separator-color: var(--md-content-separator-color) !important;
    --md-background-color-0: #282B3C;
    --md-background-color-50: #313244;
    --md-background-color-100: #45475a;
    /*--md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 32%, transparent); */
    --md-tab-background-color-hover: color-mix(in srgb, var(--md-accent-color) 28%, transparent);
    --md-menu-background-color: var(--md-background-color-0);
    /* --md-menu-background-color-hover: color-mix(in srgb, var(--md-menu-background-color) 85%, white); */
    --md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, transparent 76%, var(--md-accent-color)));
    --md-tab-label-color-inactive: var(--md-tab-label-color);
    --md-selection-text-color: var(--md-white);
    --md-selection-background-color: color-mix(in srgb, var(--md-accent-color) 80%, black);
    --md-menu-border-color: color-mix(in srgb, var(--md-background-color-100) 96%, white);
    --md-icon-color-secondary: var(--md-text-secondary);
    --md-content-separator-color: color-mix(in srgb, var(--md-menu-border-color) 94%, white);
    --md-menu-border-size: 1px solid;
    --md-icon-color-primary: var(--md-tab-label-color);
    --md-control-background-color: color-mix(in srgb, transparent 46%, var(--md-accent-color));
    --md-control-border-color: red !important;
    @media not -moz-pref("userChrome.ui-chrome-refresh") {
      --tab-min-height: 40px !important;
      --md-menu-border-size: 1px solid;
    }
  }
}

@media -moz-pref("userChrome.theme-customcolor") {
  /* use variables when dark mode */
  @media (prefers-color-scheme: dark) {
    :root,
    html,
    body {
      --md-text-primary: color-mix(in srgb, var(--md-background-color-100) 12%, white) !important;
      --md-text-secondary: color-mix(in srgb, var(--md-text-primary) 44%, transparent) !important;
      /*--md-tab-label-color: color-mix(in srgb, var(--md-text-primary) 70%, white) !important; */
      --md-tab-label-color: color-mix(in srgb, var(--md-text-primary) 55%, white) !important;
      --md-tab-separator-color: var(--md-content-separator-color) !important;
      --md-tab-label-color-inactive: var(--md-tab-label-color);
      --md-icon-color-primary: var(--md-tab-label-color);
      --md-icon-color-secondary: var(--md-text-secondary);
      --md-accent-color: oklch(from var(--md-background-color-50) 0.65 0.18 h);
      --md-accent-color2: color-mix(in srgb, var(--md-grey-200) 10%, var(--md-background-color-100));
      --md-tab-background-color-hover: color-mix(
        in srgb,
        transparent 75%,
        var(--md-accent-color)
      );
      --md-tab-opacity: 1.0;
      --md-background-color-0: color-mix(in srgb, var(--md-background-color-100) 46%, black);
      --md-background-color-50: color-mix(in srgb, var(--md-background-color-100) 65%, black);
      --md-background-color-100: #1b24a1;
      /*--md-background-color-100: #2B249E; */      
      /*--md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, var(--md-grey-800) 80%, var(--md-accent-color))); */
      --md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, transparent 76%, var(--md-accent-color)));
      --md-menu-border-color: color-mix(in srgb, var(--md-background-color-100) 88%, white);
      --md-text-on-accent: var(--md-white);
      --md-secondary-button-text: var(--md-text-primary);
      --md-content-separator-color: color-mix(in srgb, var(--md-menu-border-color) 94%, white);
      --md-selection-text-color: var(--md-text-on-accent);
      --md-selection-background-color: color-mix(in srgb, var(--md-accent-color) 82%, black);
      --md-control-background-color: color-mix(in srgb, transparent 76%, var(--md-accent-color));
      --md-menu-border-size: 1px solid;
      @media not -moz-pref("userChrome.ui-chrome-refresh") {
        --tab-min-height: 40px !important;
        --md-menu-border-size: 1px solid;
      }
    }
  }
}

@media -moz-pref("userChrome.theme-system-accent") {
  /* use variables when dark mode */
  @media (prefers-color-scheme: dark) {
    :root,
    html,
    body {
      --md-text-primary: color-mix(in srgb, AccentColor 15%, white) !important;
      --md-text-secondary: color-mix(in srgb, var(--md-text-primary) 44%, transparent) !important;
      /*--md-tab-label-color: color-mix(in srgb, var(--md-text-primary) 70%, white) !important; */
      --md-tab-label-color: white !important;
      --md-tab-separator-color: var(--md-content-separator-color) !important;
      --md-tab-label-color-inactive: var(--md-tab-label-color);
      --md-icon-color-primary: var(--md-tab-label-color);
      --md-icon-color-secondary: var(--md-text-secondary);
      --md-accent-color: color-mix(in srgb, var(--md-grey-200) 34%, AccentColor);
      --md-accent-color2: color-mix(in srgb, var(--md-grey-200) 10%, AccentColor);
      --md-tab-background-color-hover: color-mix(
        in srgb,
        transparent 75%,
        var(--md-accent-color)
      );
      --md-tab-opacity: 1.0;
      --md-background-color-0: color-mix(
        in srgb,
        var(--md-grey-900) 86%,
        var(--md-accent-color2)
      );
      --md-background-color-50: color-mix(
        in srgb,
        var(--md-grey-900) 82%,
        var(--md-accent-color2)
      );
      --md-background-color-100: color-mix(
        in srgb,
        var(--md-grey-900-white-5-percent) 80%,
        var(--md-accent-color2)
      );
      /*--md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, var(--md-grey-800) 80%, var(--md-accent-color))); */
      --md-menu-background-color-hover: light-dark(AccentColor, color-mix(in srgb, transparent 76%, var(--md-accent-color)));
      --md-menu-border-color: color-mix(in srgb, var(--md-background-color-100) 96%, white);
      --md-text-on-accent: var(--md-white);
      --md-secondary-button-text: var(--md-text-primary);
      --md-content-separator-color: color-mix(in srgb, var(--md-menu-border-color) 94%, white);
      --md-selection-text-color: var(--md-text-on-accent);
      --md-selection-background-color: color-mix(in srgb, var(--md-accent-color) 82%, black);
      --md-control-background-color: color-mix(in srgb, transparent 76%, var(--md-accent-color));
      --md-menu-border-size: 1px solid;
      @media not -moz-pref("userChrome.ui-chrome-refresh") {
        --tab-min-height: 40px !important;
        --md-menu-border-size: 1px solid;
      }
    }
  }

  /* use variables when light mode */
  @media (prefers-color-scheme: light) {
    :root,
    html,
    body {
      --md-accent-color: color-mix(
        in srgb,
        var(--md-grey-900) 15%,
        AccentColor
      );
      --md-tab-background-color-hover: color-mix(
        in srgb,
        transparent 75%,
        var(--md-accent-color)
      );
      --md-tab-opacity: 0.9;
      --md-background-color-0: color-mix(
        in srgb,
        #dee1e6 90%,
        var(--md-accent-color)
      );
      --md-background-color-50: color-mix(
        in srgb,
        var(--md-grey-100) 90%,
        var(--md-accent-color)
      );
      --md-background-color-100: color-mix(
        in srgb,
        var(--md-white) 90%,
        var(--md-accent-color)
      );
      --md-menu-background-color-hover: color-mix(
        in srgb,
        var(--md-background-color-0) 90%,
        var(--md-accent-color)
      );
      --md-menu-border-color: color-mix(
        in srgb,
        var(--md-background-color-0) 90%,
        var(--md-accent-color)
      );
      --md-content-separator-color: color-mix(
        in srgb,
        #dbdcdd 90%,
        var(--md-accent-color)
      );
      --md-secondary-button-text: var(--md-accent-color);
      --md-selection-text-color: var(--md-text-on-accent);
      --md-selection-background-color: var(--md-accent-color);
      --md-menu-border-size: 2px solid;
      @media not -moz-pref("userChrome.ui-chrome-refresh") {
        --tab-min-height: 34px !important;
        --md-menu-border-size: 1px solid;
      }
    }
  }
}