*,
*::before,
*::after {
  font-family: "Segoe UI" !important;
  /* font-size: 12px !important;
  font-weight: 400 !important; */
  font-smooth: always !important;
  text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important;
}