*, html, body {
  text-rendering: optimizelegibility !important;
	font-smooth: always !important;
}

/* Disabled add search engine context menu item */
.menuitem-iconic.context-menu-add-engine,
.menuseparator-add-engine {
    display: none !important;
}

/* Disabled strip on share context menu item */
#strip-on-share {
    display: none !important;
}

/* Hide Search with Google or enter address in url bar */
#urlbar-input::placeholder {
    opacity: 0 !important;
}
  
/* Hide All Tabs Button at top in tab bar
#alltabs-button {
    min-width: 14px !important;
    max-width: 14px !important;
    visibility: hidden !important;
}*/

/* Colors the URL bar on mouseover 
#urlbar-input-container:not([selected=true]):not([multiselected=true]):hover, #searchbox {
    background-color: color-mix(in srgb, currentColor 12%, transparent) !important;
} */

/* Hide Various other context menu items that are stupid */
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#context-sendlinktodevice,
#context-sep-sendlinktodevice,
#context_sendTabToDevice,
#context_sendTabToDevice_separator,
#context-stripOnShareLink {
    display: none !important;
}

/* Remove "Private Browsing Mode" text on top bar */
#private-browsing-indicator-with-label > label {
	display: none !important;
}

/* Remove "Share" from tab context menu */
#tabContextMenu .share-tab-url-item {
    display: none !important;
}

/* Delete "Email Image" in right click context menu */
#context-sendimage {
    display: none !important;
}

/* Disable navigation buttons on right click of page */
#context-back image,
#context-forward image,
#context-reload image,
#context-stop image,
#context-bookmarkpage image,
#context-navigation {
    display: none !important;
}

/* Make background tabs not as vibrant as selected tab
.tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
    background-color: color-mix(in srgb, currentColor 4%, transparent);
} */

/* Adjust the new tab button positioning to be more even */
#tabs-newtab-button, #TabsToolbar #new-tab-button {
    margin-inline-start: -3px !important;
}

/* Make unselected tabs foreground color a little less bright */
.tabbrowser-tab:not([selected]) .tab-content {
      color: color-mix(in srgb, var(--md-text-primary) 65%, transparent) !important;
}

/* Make unselected tab title color on hover the selected tab color 
.tabbrowser-tab:hover:not([visuallyselected],[multiselected]) .tab-content
{
    color: color-mix(in srgb, currentColor 65%, transparent) !important;
}*/

/* Remove Ugly yellow dotted selection from Library Pane */
:root {
    --default-focusring-width: 0px !important;
    --sidebar-border-color: var(--md-menu-border-color) !important;
    --default-focusring: var(--default-focusring-width) solid !important;
    --arrowpanel-border-radius: 8px !important;
    --arrowpanel-menuitem-border-radius: 4px !important;
    --arrowpanel-color: var(--md-tab-label-color) !important;
    --arrowpanel-background: var(--md-menu-background-color) !important;
    --button-active-bgcolor: color-mix(in srgb, var(--md-menu-background-color-hover) 86%, white) !important;
}

body {
    --arrowpanel-color: var(--md-tab-label-color) !important;
}

@media (-moz-platform: windows), (-moz-platform: linux) {
    .menupopup-arrowscrollbox {
        margin: var(--panel-shadow-margin) 20px 20px 20px !important;
        border: 2px solid !important;
        border-color: var(--md-menu-border-color) !important;
    }
}

/* Coloring some of the tooltips */
tooltip {
    appearance: none !important;
    -moz-appearance: none !important;
    border-radius: 8px !important;
    border: 2px solid !important;
    background-color: var(--md-background-color-0) !important;
    border-color: var(--md-menu-border-color) !important;
    color: var(--md-text-primary) !important;
    padding: 6px !important;
}

/* Styling the bottom left mouseover URL hover/loading thing */
#statuspanel-label {
    color: var(--md-text-primary) !important;
    background-color: var(--md-background-color-50) !important;
    border-left: none !important;
    border-right: 2px solid !important;
    border-bottom: none !important;
    border-top: 2px solid !important;
    border-color: var(--md-menu-border-color) !important;
    border-radius: 0 8px 0px 0px !important;
    padding: 5px !important;
}

/* Change height of bookmark bar */
:root,
#PersonalToolbar {
  --bookmarks-toolbar-overlapping-browser-heigh: max(30px, 2em) !important;
}

:root[BookmarksToolbarOverlapsBrowser] #PersonalToolbar {
    height: var(--bookmarks-toolbar-overlapping-browser-heigh) !important;
}

#PlacesToolbar,
#PlacesToolbarItems {
  align-items: center !important;
  height: 30px !important;
  margin-bottom: 2px !important;
  margin-top: 0px !important;
}
/*
#PlacesToolbar menuitem:hover, .menu-iconic.bookmark-item:hover {
    background-color: red !important;
}*/

/* Make URL bar fade in and out on mouse hover like Chrome */
#urlbar-background, #searchbar {
    background-color: var(--md-background-color-50) !important;
    transition-duration: 185ms !important;
	transition-timing-function: linear, cubic-bezier(0, 0, .2, 1), linear !important;
}

#urlbar:not([focused]):hover #urlbar-background, #searchbar:hover {
    background-color: color-mix(in srgb, var(--md-background-color-50) 50%, transparent) !important;
}

/* Materialfox already does this, but also here in case.. */
#tabbrowser-tab-tooltip {
    display: inherit !important;
}

/* Puts tooltip on close button on tab */
#tabbrowser-tab-tooltip:not([data-l10n-id="tabbrowser-close-tabs-tooltip"]){
    visibility: hidden !important;
  }

/* Hide Materialfox new tab previews */

.tabbrowser-tab:not([selected]):after {
    display: none !important;
}

.tabbrowser-tab:hover[selected]:after {
    display: none !important;
}

/* Make URLbar indent slightly and bold/bigger text */
.urlbar-input {
    #urlbar > .urlbar-input-container > .urlbar-input-box > & {
        padding-left: 2px !important;
        font-size: 15px !important;
        font-weight: 500 !important;
        font-family: "Inter Display" !important;
    }
}

/*
.urlbar-input {
    #urlbar[focused] > .urlbar-input-container > .urlbar-input-box > & {
        padding-left: 20px !important;
    }
}

 /*
  #urlbar-input {
    transition: transform 110ms linear;
    transform: translateX(0);
    position: inherit;
    width: 100%;
    text-align: left !important;
    }

    #urlbar-input #urlbar[focused] > .urlbar-input-container > .urlbar-input-box > & {
    position: inherit;
    transform: translateX(0);
    transition: all 110ms ease;
    width: 100%;
    text-align: left !important;
    padding-inline: 20px !important;
    }*/


/* Fade in the minimize/maximize/close buttons */
.titlebar-button {
    transition: background-color 0.25s ease !important;
}

/* Animate the search breakout window like FFPlus */
#urlbar[open] .urlbarView,
#urlbar[breakout][breakout-extend] > #urlbar-background {
	animation-name: fp-urlbar-animation !important;
	animation-duration: 340ms !important;
	transform-origin: top !important;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

@keyframes fp-urlbar-animation {
	from {
		opacity: 0;
		transform: scaleY(0);
	}

	to {
		opacity: 1;
		transform: scaleY(1);
	}
}

#urlbar[open] #urlbar-background, #urlbar[open] #searchbar {
  box-shadow: rgb(0, 0, 0, 0.65) 0px 14px 66px 4px !important;
  margin-top: 2px !important;
}

.urlbarView-row {
  padding: 0px 0px !important;
}

/* Making the context and other mensu look a little better and even */
@media (-moz-platform: windows), (-moz-platform: linux) {
    menupopup, panel:not(#autoscroller) {
        --panel-border-radius: 8px !important;
        border-radius: var(--panel-border-radius) !important;
        --panel-padding: 4px !important;
    }
}

@media (-moz-platform: windows), (-moz-platform: linux) {
    menu, menuitem {
        margin-inline-start: 0px !important;
        margin-inline-end: 0px !important;
        padding-block: 14px !important;
        color: var(--md-tab-label-color) !important;
    }
}

/* Reduce padding on context menu separators */
menuseparator::before {
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

menuseparator {
    padding-inline: 0px !important;
}

/* Avoid clipping of the bookmark menu items
.toolbar-menupopup {
    &, & menupopup {
      margin-left: -3px !important;
    }
  } */

/* Changing border radius on the bookmark toolbar items
#PlacesToolbarItems > .bookmark-item {
    border-radius: 100px !important;
}*/

/* More consistent active button color */
menuitem {
    &[_moz-menuactive]:not([disabled="true"]):active {
      background-color: color-mix(in srgb, var(--md-menu-background-color-hover) 86%, white) !important;
    }
  }

  /* Adjusting find bar border/position */
  .browserContainer > findbar {
    margin: 2px 2px 0 0 !important;
  }

  /* .tab-label-container[textoverflow]:not([pinned]) { mask-image: unset !important; } */

  /* Making mousehover on tabs not change the label fading thing in any way */
.tabbrowser-tab {
    --tab-label-mask-size: 20px !important;
    /* text-shadow: 1px 1px 2px #000 !important; */
}

/* Indent the search to match the breakout box indentation like Chrome */
#urlbar[pageproxystate="invalid"] #identity-box {
    transition-duration: 90ms !important;
	transition-timing-function: linear, cubic-bezier(0, 0, .2, 1), linear !important;
    padding-right: 9px !important;
}

#urlbar[pageproxystate="invalid"]:not([open]) #identity-box {
    padding-right: 0px !important;
}
/*
    #urlbar[pageproxystate="invalid"][breakout][focused] #identity-box {
        position: inherit;
        transform: translateX(0);
        transition: all 150ms ease;
        padding-right: 18px !important;
    } */

/* Change text on bookmark items to match the theme */
toolbarbutton.bookmark-item > .toolbarbutton-text {
    color: var(--md-tab-label-color) !important;
}

    /*:is(menupopup, panel):where([type="arrow"]) */

/*  Change svg icon color to match text color */
@media not (-moz-bool-pref: "userChrome.ui-no-menu-icons") {
    .panel-subview-body > .subviewbutton:not([disabled]) {
        fill: var(--md-tab-label-color) !important;
    }
}

/* Tab separator 1px */
.tab-content {
    &::before,
    &::after {
        width: 1px !important;
        height: 18px !important;
    }
}

/* Bookmark folders same as secondary text color */
.bookmark-item[container="true"] {
    fill: var(--md-text-secondary) !important;
} 

/* Right arrows same color as accent color */
.menu-right {
    fill: var(--md-text-secondary) !important;
    margin-inline-end: 6px !important;
}
/* Bookmark menu chevron overflow icon same as secondary text color */
#PlacesChevron:not([collapsed]) .toolbarbutton-icon {
    fill: var(--md-text-secondary) !important;
  }

/* Changed panel header padding/font to look better/more consistent */
.panel-header {
    padding: 4px 8px 0px 0px !important;
    font-weight: 600 !important;
    text-shadow: 1px 1px 4px #000 !important;
    font-size: 13px !important;
}

/* Bookmark and History scrollbar colors in the Arrowpanel menu */
.panel-subview-body {
    scrollbar-color: var(--md-menu-border-color) var(--md-menu-background-color) !important;
}
.panel-subview-body:hover {
    scrollbar-color: color-mix(in srgb, var(--md-menu-border-color) 90%, white) var(--md-menu-background-color) !important;
}
.panel-subview-body:active {
    scrollbar-color: color-mix(in srgb, var(--md-menu-border-color) 70%, white) var(--md-menu-background-color) !important;
}

#permList, scrollbar {
    scrollbar-color: var(--md-menu-border-color) var(--md-menu-background-color) !important;
}
#permList, scrollbar:hover {
    scrollbar-color: color-mix(in srgb, var(--md-menu-border-color) 90%, white) var(--md-menu-background-color) !important;
}
#permList, scrollbar:active {
    scrollbar-color: color-mix(in srgb, var(--md-menu-border-color) 70%, white) var(--md-menu-background-color) !important;
}
/*
#TabsToolbar-customization-target{
    counter-reset: tab-counter;
}

.tabbrowser-tab:not([hidden]){
    counter-increment: tab-counter;
}

    #alltabs-button >.toolbarbutton-badge-stack > .toolbarbutton-icon{
    opacity: 0; 
}

#alltabs-button >.toolbarbutton-badge-stack::before{
    content: counter(tab-counter);
    display: flex;
    grid-area: 1/1;
    justify-content: center;
    color: var(--toolbarbutton-icon-fill);
    border-bottom: 1px solid;
    contain: inline-size;
}
*/

#appMenu-header-description {
    font-size: larger !important;
    text-shadow: 1px 1px 4px #000 !important;
}

#appMenu-fxa-text, #appMenu-fxa-status2[fxastatus] > #appMenu-fxa-label2 {
    margin: 0px !important;
}

.toolbarbutton-1:is(#back-button, #forward-button) {
    list-style-image: url("Back.svg") !important;
}

#PlacesToolbarItems > .bookmark-item {
    transition: background-color 0.20s ease-in-out !important;
}

.tabbrowser-tab[visuallyselected]:not([usercontextid]) .tab-background
{
    box-shadow: inset 0 7px 2px -6px color-mix(in srgb, var(--md-background-color-100) 55%, var(--md-accent-color)) !important;
    /* box-shadow: inset 0 2px 0 var(--md-accent-color) !important; */
}

.tabbrowser-tab:is([selected], [multiselected]):-moz-lwtheme {
	z-index: 1 !important;
}

.tabbrowser-tab:is([visuallyselected], [multiselected]):not([pinned]) {
	min-width: 200px !important;
	z-index: 1 !important;
}

#titlebar {
	z-index: 1 !important;
}

.container.infobar {
  color: var(--md-text-primary) !important;
  background-color: var(--md-background-color-50) !important;
}

/*.urlbar-input-container:active {
  border-color: red !important;
} */

#urlbar[focused]:not([suppress-focus-border]) > #urlbar-background {
  box-shadow: 0 1px 4px #00000054 !important;
}

findbar {
  border: 2px solid var(--md-menu-border-color) !important;
  padding-left: 8px !important;

  &[hidden='true'] {
    animation: 0.5s findbar-scale-out;
  }
}

.findbar-textbox {
  &[status="notfound"] {
    background-color: rgba(255, 0, 0, 0.3) !important;
    border-color: transparent !important;
    border-radius: 4px !important;
  }
}

.tabbrowser-tab:is([visuallyselected], [multiselected]):not([pinned]) {
	min-width: 84px !important;
}

#sidebar-header {
  color: var(--md-tab-label-color) !important;
  background-color: var(--md-background-color-0) !important;
  text-shadow: 1px 1px 4px #000 !important;
}

treechildren::-moz-tree-row(hover) {
  background-color: var(--md-menu-background-color-hover) !important;
}

treechildren::-moz-tree-row(active) {
  background-color: color-mix(in srgb, var(--md-menu-background-color-hover) 86%, white) !important;
}

treechildren::-moz-tree-row(container selected) {
  background-color: var(--md-selection-background-color) !important;
}

treechildren::-moz-tree-row(selected) {
  background-color: var(--md-selection-background-color) !important;
}

/* Selected bright text color */
treechildren::-moz-tree-cell-text(selected),
treechildren::-moz-tree-image(selected),
treechildren::-moz-tree-twisty(selected) { 
  color: var(--md-selection-text-color) !important;
}

.sidebar-placesTree treechildren::-moz-tree-cell-text {
  color: var(--md-tab-label-color) !important;
}

.sidebar-placesTree treechildren::-moz-tree-cell-text(hover) {
  color: var(--md-tab-label-color) !important;
}

.sidebar-placesTree::-moz-tree-image,
.sidebar-placesTreechildren::-moz-tree-image {
  fill: var(--md-text-secondary) !important;
}

.sidebar-placesTree treechildren::-moz-tree-cell-text(selected),
treechildren::-moz-tree-image(selected),
treechildren::-moz-tree-twisty(selected),
.sidebar-placesTreechildren::-moz-tree-image(selected),
.sidebar-placesTreechildren::-moz-tree-image(active) {
  color: var(--md-selection-text-color) !important;
  fill: var(--md-selection-text-color) !important;
}

#viewButton {
  border-radius: 8px !important;
  border-width: 2px !important;
}

#viewButton:hover {
  background-color: var(--md-menu-background-color-hover) !important;
}


search-textbox#search-box {
  appearance: none !important;
  background-color: var(--md-background-color-50) !important;
  border: 2px solid var(--md-menu-border-color) !important;
  color: var(--md-text-primary) !important;
  padding: 6px !important;
  border-radius: 100px !important;
  transition-property: background-color !important;
  transition-duration: 185ms !important;
	transition-timing-function: linear, cubic-bezier(0, 0, .2, 1), linear !important;
}

search-textbox#search-box:hover {
  background-color: color-mix(in srgb, var(--md-background-color-50) 95%, white) !important;
}

:not(dialog, .dialogBox) :not(button-group) > button:is([accesskey], .accessory-button, [dlgtype="cancel"], .disco-cta-button, [data-l10n-id="translations-manage-language-download-button"]):not(button[type="menu"]) {
  border: 2px solid !important;
  margin: 2px !important;
}

tree {
  color: var(--md-text-primary) !important;
  background-color: var(--md-menu-background-color) !important;
  border-color: var(--md-menu-border-color) !important;
  border-width: 2px !important;
}

#editBookmarkPanel .expander-up:hover, #editBookmarkPanel .expander-down:hover {
  background-color: var(--md-menu-background-color-hover) !important;
}

#editBookmarkPanel .expander-up, #editBookmarkPanel .expander-down {
  fill: var(--md-text-primary) !important;
}

  /* uBlock Origin -> custom svg icon
  :is(.webextension-browser-action, .eom-addon-button
  )[data-extensionid="uBlock0@raymondhill.net"] .toolbarbutton-icon {
      list-style-image: url("ublock.svg");
  }*/


#bookmarks-menu-button {
    fill: var(--md-accent-color) !important;
    filter: drop-shadow(0 0 2px var(--md-accent-color)) drop-shadow(0 0 1px var(--md-selection-background-color))
  }

/*
menuitem#context-copyimage .menu-text {
  display: none;
}
menuitem#context-copyimage::before {
  content: "Copy Image Address" !important;
}
*/

/*
button {
  -moz-appearance: none !important;   
  border: 2px solid !important;
  color: var(--md-text-primary) !important;
  border-radius: 4px !important;
  padding: 4px !important;
  background-color: var(--md-background-color-0) !important;
  border-color: var(--md-menu-border-color) !important;
}

button:hover {
  background-color: var(--md-menu-background-color-hover) !important;
}

button:active {
  background-color: color-mix(in srgb, var(--md-menu-background-color-hover) 86%, white) !important;
}
  */

/* ----------------------------------------------- Downloads and History Window -------------------------------------------------- */

  @-moz-document url(chrome://browser/content/places/places.xhtml) {

    /* Change colors here */
    :root { --background: var(--md-background-color-100); }
    :root { --odd-bg-row: var(--md-background-color-0); }
    :root { --textcolor: var(--md-text-primary); }
    :root { --iconcolor: var(--md-text-primary); }
    :root { --selected-iconcolor: var(--md-text-primary); }
    :root { --hover-iconcolor: var(--md-text-primary); }
    :root { --bordercolor: var(--md-menu-border-color); }
    :root { --hover-bg-row: var(--md-menu-background-color-hover); }
    :root { --hover-text-row: var(--md-text-primary); }
    :root { --selected-text-row: var(--md-text-primary); }
    :root { --organizer-hover-background: var(--md-menu-background-color-hover) !important; }
    :root { --default-focusring-width: 0px !important; }
    :root { --default-focusring: var(--default-focusring-width) solid !important; }
    :root { --organizer-color: var(--md-text-primary) !important;}
    :root { 
      --organizer-deemphasized-color: var(--md-text-secondary) !important;
      --toolbarbutton-icon-fill: red !important;
    }
    
    :root {--focus-outline-width: 6px !important; }
    :root {--focus-outline-color: var(--md-text-primary) !important; }
    :root {--focus-outline: var(--focus-outline-width) solid var(--focus-outline-color) !important; }

   /* Correct context menu padding in Library Window */
    @media (-moz-platform: windows), (-moz-platform: linux) {
      #placesMenu > menu {
        padding-block: 8px !important;
        border-radius: 4px !important;
      }
    }
    @media (-moz-platform: windows), (-moz-platform: linux) {
      #placesMenu > menuitem {
        padding-block: 14px !important;
      }
    }

    /* Toolbar buttons */
    #placesMenu > menu {
      border: none !important;
    }
    
    /* Toolbar button hover */
    #placesMenu > menu:hover {
      -moz-appearance: none !important;
      background-color: var(--hover-bg-row) !important;
    }
    
    /* Toolbar button open */
    #placesMenu > menu[open] {
      -moz-appearance: none !important;
      background-color: color-mix(in srgb, var(--md-menu-background-color-hover) 86%, white) !important;
    }
    
    
    /* Link to filter generator I used for some icons on down, not mine. https://codepen.io/sosuke/pen/Pjoqqp */
    
    /* Library Background */
    window#places[title="Library"] {
      background-color: var(--md-background-color-0) !important;
    }
    
    /* Toolbar */
    #placesToolbar {
     background-color: var(--md-background-color-0) !important;
     border-bottom: 0px !important;
     padding: 8px !important;
    }
    
    /* Forward and Back Buttons Disabled */
    #placesToolbar > toolbarbutton[disabled] > .toolbarbutton-icon {
      fill: var(--md-text-secondary) !important;
    }
    
    /* Forward and Back Buttons */
    #placesToolbar > #back-button > .toolbarbutton-icon {
      fill: var(--iconcolor) !important;
      height: 20px !important;
    }

    #placesToolbar > #forward-button > .toolbarbutton-icon {
      fill: var(--iconcolor) !important;
      height: 20px !important;
    }

    
    #placesToolbar > toolbarbutton:not([disabled]):active {
    background-color: var(--hover-bg-row) !important;
    }

    #placesToolbar > toolbarbutton:not([disabled]):hover:active {
    background-color: color-mix(in srgb, var(--md-menu-background-color-hover) 86%, white) !important;
    }
    
    /* Toolbar Text */
    #placesMenu > menu > .menubar-text {
      color: var(--textcolor) !important;
    }
    
    /* Toolbar Spacer
    #libraryToolbarSpacer {
      max-width: 20px !important;
      padding: 3px !important;
      margin-right: 15px !important;
      margin-left: 4px !important;
  }
    /*box-shadow: 0 0 1px var(--iconcolor) !important;*/ /* To see spacer */
    
    
    /* Toolbar Icons, Menupopup arrows & ckeckmarks (limegreen). Not The Forward or Back Buttons */
    #placesMenu menupopup .menu-right {
        color: rgb(174, 181, 190) !important;
    }
    
    /* Menu items disabled 
    #placesMenu menupopup menuitem[disabled] {
      color: var(--textcolor) !important;
      opacity: .32 !important;
    }*/
    
    /* Downloads Box */
    #downloadsListBox {
        background-color: var(--background) !important;
        color: var(--textcolor) !important;
        scrollbar-color: var(--md-menu-border-color) var(--md-menu-background-color) !important;
      }
      
      #downloadsListBox:hover {
        scrollbar-color: color-mix(in srgb, var(--md-menu-border-color) 90%, white) var(--md-menu-background-color) !important;
      }
      
      #downloadsListBox:active {
        scrollbar-color: color-mix(in srgb, var(--md-menu-border-color) 70%, white) var(--md-menu-background-color) !important;
      }

      #downloadsListBox:focus > richlistitem[selected] {
        color: var(--md-selection-text-color) !important;
        background-color: var(--md-selection-background-color) !important;
        border: 0px !important;
        outline: none !important;
        border-radius: 0px !important;
      }

      richlistitem:hover {
        background-color: color-mix(in srgb, var(--md-background-color-50) 40%, transparent) !important;
      }
     /* 
      richlistitem[selected="true"] {
        color: white !important;
        background-color: var(--odd-bg-row) !important;
        border: 0px !important;
        outline: none !important;
      }
      
      richlistbox:focus > richlistitem[selected] {
        background-color: black !important;
        color: red !important;
        }
*/
        richlistitem[selected] {
          background-image: none !important;
          border: 0px !important;
          outline: none !important;
          border-radius: 0px !important;
          font-weight: 600 !important;
      }
      
        #downloadsRichListBox > richlistitem[selected] {
          outline: 0px !important;
          outline-offset: 0px !important;
          -moz-outline-radius: 0 !important;
          border: 0px !important;
        }
      
      richlistbox {
        border: 0px !important;
        border-top: 1px solid var(--bordercolor) !important;
      }
      
      richlistbox > richlistitem[selected] {
        background-color: var(--md-selection-background-color) !important;
        color: var(--md-selection-text-color) !important;
      }
    
    /* All List Colors */
    #placesView,
    #placesView .scrollbox-innerbox,
    #infoPane, #placesList, #placeContent {
      -moz-appearance: none !important;
      background-color: var(--md-background-color-0) !important;
      color: var(--textcolor) !important;
    }
    
    /* List Header */
    #placeContent treecol {
      -moz-appearance: none !important;
      background-color: var(--md-background-color-0) !important;
      padding: 3px !important;
      color: var(--textcolor) !important;
      border-top: 1px solid var(--bordercolor) !important;
      border-right: 0px !important;
      border-bottom: 0px !important;
    }
    treecol {
      border-inline-start: 1px solid var(--bordercolor) !important;
    }
    
    #contentView treecol {
      box-shadow: inset 0 -1px var(--bordercolor) !important;
    }
    /* List Header Hover */
    #placeContent treecol:hover {
      -moz-appearance: none !important;
      background-color: var(--hoverBGcolor) !important;
      color: var(--hover-text-row) !important;
    }
    
    /* Spitter */
    #placesView > splitter {
      border-inline-end: 1px solid var(--bordercolor) !important;
    }
    
/* Right side list border */
#placesList {
    border-top: 1px solid var(--bordercolor) !important;
  }
  
  /* Right side list text */
  #placeContent treechildren::-moz-tree-cell-text(hover) {
    color: var(--hover-text-row) !important;
  }
  #placeContent treechildren::-moz-tree-cell-text(selected) {
    color: var(--md-selection-text-color) !important;
  }
  #placeContent treechildren::-moz-tree-row {
    background-color: var(--background) !important
  }
  
  /* Odd rows background */
  #placeContent treechildren::-moz-tree-row(odd) {
    background-color: var(--odd-bg-row) !important;
  }
  
  /* Right side list background */
  #placesView treechildren::-moz-tree-row(hover) {
    background-color: color-mix(in srgb, var(--md-menu-background-color-hover) 86%, white) !important;
  }
  #placesView treechildren::-moz-tree-row(selected) {
    color: var(--md-selection-text-color) !important;
    background-color: var(--md-selection-background-color) !important;
  }
  
  /* Right side list Icons */
  #placesView treechildren::-moz-tree-image {
    fill: var(--iconcolor) !important;
  }
  #placesView treechildren::-moz-tree-image(title hover) {
    fill: var(--hover-iconcolor) !important;
  }
  #placesView treechildren::-moz-tree-image(title selected) {
    fill: var(--md-selection-text-color) !important;
  }
  /* Right side Folders */
  #placesView treechildren::-moz-tree-image(container selected) {
    fill: var(--md-selection-text-color) !important;
  }
  
  /* Left side list Icons */
  #placesList treechildren::-moz-tree-image {
    fill: var(--md-tab-label-color) !important;
  }
  /* Hover Left side Icons */
  #placesList treechildren::-moz-tree-image(title hover) {
    fill: var(--hover-iconcolor) !important;
  }
  /* Hover Left side Folders */
  #placesList treechildren::-moz-tree-image(container hover) {
    fill: var(--hover-iconcolor) !important;
  }
  /* Selected left side icons */
  #placesList treechildren::-moz-tree-image(title selected) {
    fill: var(--selected-iconcolor) !important;
  }
  /* Selected Left side Folders */
  #placesList treechildren::-moz-tree-image(container selected) {
    fill: var(--selected-iconcolor) !important;
  }
  
  /* Left Side Rows Hover */
  #placesList treechildren::-moz-tree-row(hover) {
    background-color: var(--hover-bg-row) !important;
  }
  /* Left Side Rows Selected */
  #placesList treechildren::-moz-tree-row(selected) {
    background-color: color-mix(in srgb, var(--md-menu-background-color-hover) 86%, white) !important;
  }
  /* Left Side Text Hover */
  #placesList treechildren::-moz-tree-cell-text(hover) {
    color: var(--hover-text-row) !important;
  }
  /* Left Side Text Selected */
  #placesList treechildren::-moz-tree-cell-text(selected) {
    color: var(--selected-text-row) !important;
  }
    
    /* Searchbox */
    #searchFilter {

        appearance: none !important;
        background-color: var(--md-background-color-50) !important;
        border: 2px solid var(--md-menu-border-color) !important;
        color: var(--md-text-primary) !important;
        padding: 4px !important;
        border-radius: 100px !important;
        transition-property: background-color !important;
        transition-duration: 185ms !important;
        transition-timing-function: linear, cubic-bezier(0, 0, .2, 1), linear !important;
      }
      
      search-textbox#searchFilter:hover {
        background-color: color-mix(in srgb, var(--md-background-color-50) 95%, white) !important;
      }

    /* Search Icon */
    .textbox-search-sign {
      filter: invert(56%) blue(80%) saturate(2591%) hue-rotate(81deg) brightness(118%) contrast(128%) !important
    }
    /* Searchbox Focus */
    #searchFilter[focused] {
      box-shadow: var(--input-field-focus-shadow) !important;
      background-color: var(--odd-bg-row) !important;
      color: var(--textcolor) !important;
    }
    /* Clear Text Icon (Not sure how to style this) */
    .textbox-search-clear {
    }
    
    /* Clear Downloads Button */
    #clearDownloadsButton[disabled] {
      color: var(--md-text-secondary) !important;
      padding: 8px !important;
      opacity: 1 !important;
    } 
 
    #clearDownloadsButton {
      list-style-image: url("chrome://global/skin/icons/delete.svg") !important;
      color: var(--textcolor) !important;
      padding-left: 5px !important;
      padding-right: 7px !important;
      padding-top: 8px !important;
      padding-bottom: 8px !important;
    }
 
    #clearDownloadsButton > .toolbarbutton-icon {
      display: inline-flex !important;
      display: -moz-inline-box !important;
      margin-inline-end: 4px !important;
    }    
    
    /* Details */
    #detailsDeck {
      background-color: var(--background) !important;
      color: var(--textcolor) !important;
      border-top: 1px solid var(--bordercolor) !important;
    }
    
    /* Textbox, Field, Selector (some of this may change other places) */
    #infoBox textbox, 
    #infoBox listbox,
    #editBMPanel_namePicker,
    #editBMPanel_tagsField,
    #editBMPanel_tagsSelector,
    #editBMPanel_keywordField,
    #editBMPanel_locationField {
      -moz-appearance: none !important;
      border: 2px solid var(--bordercolor) !important;
      border-radius: 4px !important;
      background-color: var(--odd-bg-row) !important;
      color: var(--textcolor) !important;
    }
    
    /* Details button (limegreen)*/
    #detailsDeck button {
      -moz-appearance: none !important;
      filter: invert(56%) blue(80%) saturate(2591%) hue-rotate(81deg) brightness(118%) contrast(128%) !important;
    }
    
    #detailsPane {
      background-color: var(--md-background-color-100) !important;
      border-top: 1px solid var(--bordercolor) !important;
    }
    
    .expander-up, .expander-down {
      padding-left: 6px !important;
      padding-right: 6px !important;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      border: 2px solid var(--bordercolor) !important;
      border-radius: 4px !important;
      color: var(--iconcolor) !important;
      background-color: var(--md-background-color-0) !important;
    }
    
    .expander-up:hover, .expander-down:hover {
      -moz-appearance: none !important;
      background-color: var(--md-menu-background-color-hover) !important;
    }

    .expander-up:active, .expander-down:active {
      -moz-appearance: none !important;
      background-color: color-mix(in srgb, var(--md-menu-background-color-hover) 86%, white) !important;
    }
    
    
    }