/* Reduce Tab height a bit */
:root {
  --ease-in: cubic-bezier(.4, 0, 1, 1) !important;
	--ease-out: cubic-bezier(0, 0, .2, 1) !important;
	--ease-basic: linear !important;
  --tab-min-height: 30px !important;
  --panel-separator-color: color-mix(in srgb, currentColor 17%, transparent) !important;
  --panel-separator-margin: 4px !important;
  --panel-disabled-color: color-mix(in srgb, white 32%, transparent) !important;
  --arrowpanel-border-radius: 4px !important;
  --arrowpanel-menuitem-border-radius: 2px !important;
}

/* New Tab Button Circular */
#tabs-newtab-button > .toolbarbutton-icon {
  border-radius: 50% !important; 
  color: white !important;
}

/* Make the tab close button circular */
.tab-close-button { 
  width: 18px !important;
  height: 18px !important;
  padding: 4px !important;
  margin: -2px !important;
  border-radius: 50% !important;
}

/* Adds correct color to the close tab button on hover */
.tab-close-button:hover[selected] {
  color: var(--toolbar-color) !important;
  background-color: var(--toolbarbutton-hover-background) !important;
}

/* Adds correct color to the close tab button on active */
.tab-close-button:active[selected] {
  color: var(--toolbar-color) !important;
  background-color: var(--toolbarbutton-active-background) !important;
}

/* Adds correct inactive color to the close tab button */
.tab-close-button:hover:not([selected]) {
  color: var(--toolbar-color) !important;
  background-color: color-mix(in srgb, currentColor 16%, transparent) !important;
}

/* Adds correct inactive color to the close tab button when activated */
.tab-close-button:active:not([selected]) {
  color: var(--toolbar-color) !important;
  background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
}


/* Disables the Add Engine from the right click context menu on the URL bar */
.menuitem-iconic.context-menu-add-engine,
.menuseparator-add-engine {
    display: none !important;
}

/* Adds color to hovering over inactive tabs */
.tabbrowser-tab:hover:not([visuallyselected],[multiselected]) .tab-background
{
  background-color: color-mix(in srgb, currentColor 8%, transparent) !important;
}

/* Adds 1px of padding underneath bookmark toolbar items and 2px around the hover button */
toolbarbutton.bookmark-item:not(.subviewbutton) {
  transition-duration: .2s !important;
	transition-timing-function:
		var(--ease-basic),
		var(--ease-out),
		var(--ease-basic) !important;
  padding-block: 2px !important;
  margin: 0 0 3px !important;
  border-radius: 4px !important;
}

/* Increases padding between bookmark toolbar items */
#PlacesToolbarItems > .bookmark-item {
  margin-inline: 2px !important;
}

/*.tabbrowser-tab:hover:not([visuallyselected],[multiselected]) .tab-content
{
    color: var(--toolbar-color) !important;
}

.tabbrowser-tab:hover[selected] .tab-background
{
    background: var(--toolbar-bgcolor) !important;
}
*/

/* Creates inactive tab separators like Chrome */
.tabbrowser-tab {
  border-inline-end: 1px solid transparent !important;
  border-image: 0 1 linear-gradient(
    transparent 25%,
    color-mix(in srgb, currentColor 45%, transparent) 25%,
    color-mix(in srgb, currentColor 45%, transparent) 75%,
    transparent 75%
  );
}

/* Makes sure tab separators act appropriately */
.tabbrowser-tab:hover,
.tabbrowser-tab[beforehovered],
.tabbrowser-tab[selected],
.tabbrowser-tab[last-visible-tab],
.tabbrowser-tab[beforeselected-visible] {
  border-image: none !important; 
}

/* Hide Search with Google or enter address in url bar */
#urlbar-input::placeholder {
    opacity: 0 !important;
}
  
  /* Hide All Tabs Button at top in tab bar */
#alltabs-button {
  display: none !important;
}
  
  /* Disable all context menus about sending things to other devices */
#context-sendpagetodevice, #context-sep-sendpagetodevice,
#context-sendlinktodevice, #context-sep-sendlinktodevice,
#context_sendTabToDevice, #context_sendTabToDevice_separator {
  display: none !important;
}

/* Make Selected Tab Font Color White 
.tabbrowser-tab[selected] .tab-content {
    color: #FFFFFF;
}
*/

/* Make unselected tabs a little less bright 
.tabbrowser-tab:not([selected]) .tab-content {
    color: #919fc2;
  }
*/

/* Make background tabs not as vibrant as selected tab
.tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
    background-color: color-mix(in srgb, currentColor 4%, transparent);
}*/
  
  /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/proton_dark_light_notifications.css made available under Mozilla Public License v. 2.0
  See the above repository for updates as well as full license text. */
  
  /* Makes web notifications use dark/light theme based on your selected theme, and makes them fit a bit better to rounded proton style. */

@-moz-document url("chrome://global/content/alerts/alert.xhtml") {
  
  /* Color scheme definitions
    * Intentionally let Firefox override these on Windows10
    */
  :root {
    --menu-border-color: rgba(140, 203, 236, 0.42);
    --menu-color: white;
    --menu-background-color: rgba(41, 54, 73, 0.98);
    --menuitem-hover-background-color: color-mix(in srgb, currentColor 17%, transparent);
  }

  @media (-moz-toolbar-prefers-color-scheme:dark) {
    :root {
      --menu-border-color: rgba(140, 203, 236, 0.42);
      --menu-color: white;
      --menu-background-color: rgba(41, 54, 73, 0.98);
      --menuitem-hover-background-color: color-mix(in srgb, currentColor 17%, transparent);
    }
    #alertSourceLabel { 
      color: rgb(5,209,241) !important;
    }
  }
  /* The line below removes background "layer" from the notification on linux, Windows and macOS don't have that layer in the first place
  :root{ background: transparent !important; }*/
  
  /* Make Firefox actually use the colors set above */

  #alertBox {
    color: var(--toolbar-color) !important;
    /* background: linear-gradient(45deg, #161929, #2f354e); */
    background-color: var(--menu-background-color) !important;
    border-color: var(--menu-border-color) !important;
    border-radius: 4px !important;
    font-size: 13px !important;
    font-family: "Segoe UI" !important;
    -moz-window-shadow: cliprounded !important;
      transition: 160ms !important;
      transition-timing-function: linear, linear, linear !important;
  }
      
  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

#alertSettings {
  fill: currentColor !important;
  color: inherit !important;
  border-radius: 0 !important;
  margin-inline: 0 !important;
  margin-bottom: -4px !important;
}

.close-icon,
#alertSettings {
  background: transparent !important
}

.close-icon:hover > .toolbarbutton-icon,
#alertSettings:is(:hover,[open]) > .button-box > .box-inherit {
  background-color: color-mix(in srgb, currentColor 25%, transparent) !important;
}
  
/* Reshape and move the buttons a bit */
.close-icon > .toolbarbutton-icon,
#alertSettings > .button-box > .box-inherit {
  border-radius: 2px !important;
  padding: 2px !important;
  margin: 2px 2px -1px 0 !important;
}
#alertSettings > .button-box > .box-inherit {
  margin: -2px 1px 1px 0 !important;
}

#alertSettings > .button-box > .box-inherit > .button-icon {
  padding: 1px;
}

/***  Firefox Color Hack-on: Color all context menus and popups ***/

 menupopup, panel {
  --panel-color: white !important;
  --panel-background: rgba(64, 79, 100, 0.98) !important;
  --panel-border-color: rgba(140, 203, 236, 0.42) !important;
  --windows-panel-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479) !important;
}

menupopup, .menupopup-arrowscrollbox {
  border-radius: var(--arrowpanel-border-radius) !important;
}

menupopup menuseparator {
  -moz-appearance: none !important;
  appearance: none !important;
  min-height: 0 !important;
  border-top: 1px solid color-mix(in srgb, currentColor 17%, transparent) !important;
  border-bottom: none !important;
  margin: 4px !important;
  padding: 0 !important;
}

menupopup menu[disabled="true"],
menupopup menuitem[disabled="true"] {
  color: color-mix(in srgb, white 32%, transparent) !important;
  background: none !important;
}

menupopup menu:hover:not([disabled=true]),
menupopup menuitem:hover:not([disabled=true]),
menupopup menu[_moz-menuactive]:not([disabled=true]),
menupopup menuitem[_moz-menuactive]:not([disabled=true]) {
  background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
  color: inherit !important;
}

menupopup menuitem:hover:active:not([disabled=true]),
menupopup menu:hover:active:not([disabled=true]) {
  background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
  color: inherit !important;
}

menupopup > menuitem, menupopup > menu {
  border-radius: 2px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  padding-inline-start: 10px !important;
}

menupopup .menu-right {
  color: rgb(174, 181, 190) !important;
}

.panel-header > .subviewbutton {
  border-radius: 12px !important;
}

menupopup:not(.in-menulist) > menuitem, 
menupopup:not(.in-menulist) > menu {
  padding-block: 3px !important;
}

menupopup[needsgutter] menu:not([icon], .menu-iconic), menupopup[needsgutter] menuitem:not([checked="true"], [icon], .menuitem-iconic) {
  padding-inline-start: 10px !important;
}

/* Disable navigation buttons on right click of page */
#context-back image,
#context-forward image,
#context-reload image,
#context-stop image,
#context-bookmarkpage image,
#context-navigation,
#context-sep-navigation {
  display: none !important;
}

:root {--default-focusring-width: 0px !important; }
:root {--default-focusring: var(--default-focusring-width) solid !important; }

treechildren::-moz-tree-row(hover) {
  background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
  color: white !important;
}

treechildren::-moz-tree-row(active) {
  background-color: rgba(90, 177, 217, 0.84) !important;
  color: white !important;
}

treechildren::-moz-tree-row(container selected) {
  background-color: rgba(90, 177, 217, 0.84) !important;
  color: white !important;
}

treechildren::-moz-tree-row(selected) {
  background-color: rgba(90, 177, 217, 0.84) !important;
  color: white !important;
}

.sidebar-placesTree treechildren::-moz-tree-cell-text {
  color: white !important;
}

/* Themeing of the Library window for Bookmarks/Downloads/History */
@-moz-document url(chrome://browser/content/places/places.xhtml) {

/* Change colors here */
:root { --background: #404F64; }
:root { --odd-bg-row: #293649; }
:root { --textcolor: white; }
:root { --iconcolor: white; }
:root { --selected-iconcolor: white; }
:root { --hover-iconcolor: white; }
:root { --bordercolor: rgba(140, 203, 236, 0.42); }
:root { --hover-bg-row: rgba(90, 177, 217, 0.84) !important;; }
:root { --hover-text-row: white; }
:root { --selected-text-row: white; }
:root { --organizer-hover-background: rgba(90, 177, 217, 0.84) !important; }
:root {--default-focusring-width: 0px !important; }
:root {--default-focusring: var(--default-focusring-width) solid !important; }

:root {--focus-outline-width: 6px !important; }
:root {--focus-outline-color: white !important; }
:root {--focus-outline: var(--focus-outline-width) solid var(--focus-outline-color) !important; }

/* Link to filter generator I used for some icons on down, not mine. https://codepen.io/sosuke/pen/Pjoqqp */

/* Library Background */
window#places[title="Library"] {
  background-color: var(--background) !important;
}

/* Toolbar buttons */
#placesMenu > menu {
  border: none !important;
}

/* Toolbar button hover */
#placesMenu > menu:hover {
  -moz-appearance: none !important;
  background-color: var(--hover-bg-row) !important;
}

/* Toolbar button open */
#placesMenu > menu[open] {
  -moz-appearance: none !important;
  background-color: var(--hover-bg-row) !important;
}

/* Toolbar */
#placesToolbar {
 background-color: var(--background) !important;
 border-bottom: 0px !important;
}

/* Forward and Back Buttons Disabled */
#placesToolbar > toolbarbutton[disabled] > .toolbarbutton-icon {
  opacity: .45 !important
}

/* Forward and Back Buttons */
#placesToolbar > #back-button > .toolbarbutton-icon,
#placesToolbar > #forward-button > .toolbarbutton-icon {
  fill: var(--iconcolor) !important;
}

/* Toolbar Text */
#placesMenu > menu > .menubar-text {
  color: var(--textcolor) !important;
}

/* Toolbar Spacer */
#libraryToolbarSpacer {
  max-width: 20px !important;
  padding: 3px !important;
  margin-right: 15px !important;
  margin-left: 4px !important;
/*box-shadow: 0 0 1px var(--iconcolor) !important;*/ /* To see spacer */
}

  /* Toolbar Icons, Menupopup arrows & ckeckmarks (limegreen). Not The Forward or Back Buttons */
  #placesMenu menupopup .menu-right {
    color: rgb(174, 181, 190) !important;
}

/* Menu items disabled */
#placesMenu menupopup menuitem[disabled] {
  color: color-mix(in srgb, var(--textcolor) 50%, transparent) !important;
}

/* Downloads Box */
#downloadsListBox {
  background-color: var(--background) !important;
  color: var(--textcolor) !important;
  scrollbar-color: rgba(140, 203, 236, 0.42) rgba(64, 79, 100, 1.0) !important;
}

#downloadsListBox:hover {
  scrollbar-color: rgba(140, 203, 236, 0.76) rgba(64, 79, 100, 1.0) !important;
}

#downloadsListBox:active {
  scrollbar-color: rgba(140, 203, 236, 1.0) rgba(64, 79, 100, 1.0) !important;
}

#downloadsListBox:focus > richlistitem[selected] {
  color: white !important;
  background-color: var(--odd-bg-row) !important;
  border: 0px !important;
  outline: none !important;
}

richlistitem[selected="true"] {
  color: white !important;
  background-color: var(--odd-bg-row) !important;
  border: 0px !important;
  outline: none !important;
}

richlistbox:focus > richlistitem[selected] {
  background-color: black !important;
  color: red !important;
  }

  #downloadsRichListBox > richlistitem[selected] {
    outline: none !important;
    outline-offset: 0 !important;
    -moz-outline-radius: 0 !important;
    border: 0px !important;
  }

richlistbox {
  border: 0px !important;
  border-top: 1px solid var(--bordercolor) !important;
}

richlistbox > richlistitem[selected] {
  background-color: var(--odd-bg-row) !important;
  color: white !important;
}

/* All List Colors */
#placesView,
#placesView .scrollbox-innerbox,
#infoPane, #placesList, #placeContent {
  -moz-appearance: none !important;
  background-color: var(--background) !important;
  color: var(--textcolor) !important;
}

/* List Header */
#placeContent treecol {
  -moz-appearance: none !important;
  background-color: var(--background) !important;
  padding: 3px !important;
  color: var(--textcolor) !important;
  border-top: 1px solid var(--bordercolor) !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
}

#contentView treecol {
  box-shadow: inset 0 -1px var(--bordercolor) !important;
}
/* List Header Hover */
#placeContent treecol:hover {
  -moz-appearance: none !important;
  background-color: var(--hoverBGcolor) !important;
  color: var(--hover-text-row) !important;
}

/* Spitter */
#placesView > splitter {
  border-inline-end: 1px solid var(--bordercolor) !important;
}

/* Right side list border */
#placesList {
  border-top: 1px solid var(--bordercolor) !important;
}

/* Right side list text */
#placeContent treechildren::-moz-tree-cell-text(hover) {
  color: var(--hover-text-row) !important;
}
#placeContent treechildren::-moz-tree-cell-text(selected) {
  color: var(--selected-text-row) !important;
}
#placeContent treechildren::-moz-tree-row {
  background-color: var(--background) !important
}

/* Odd rows background */
#placeContent treechildren::-moz-tree-row(odd) {
  background-color: var(--odd-bg-row) !important;
}

/* Right side list background */
#placesView treechildren::-moz-tree-row(hover) {
  background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
}
#placesView treechildren::-moz-tree-row(selected) {
  background-color: var(--hover-bg-row) !important;
}

/* Right side list Icons */
#placesView treechildren::-moz-tree-image {
  fill: var(--iconcolor) !important;
}
#placesView treechildren::-moz-tree-image(title hover) {
  fill: var(--hover-iconcolor) !important;
}
#placesView treechildren::-moz-tree-image(title selected) {
  fill: var(--selected-iconcolor) !important;
}
/* Right side Folders */
#placesView treechildren::-moz-tree-image(container selected) {
  fill: var(--selected-iconcolor) !important;
}

/* Left side list Icons */
#placesList treechildren::-moz-tree-image {
  fill: var(--iconcolor) !important;
}
/* Hover Left side Icons */
#placesList treechildren::-moz-tree-image(title hover) {
  fill: var(--hover-iconcolor) !important;
}
/* Hover Left side Folders */
#placesList treechildren::-moz-tree-image(container hover) {
  fill: var(--hover-iconcolor) !important;
}
/* Selected left side icons */
#placesList treechildren::-moz-tree-image(title selected) {
  fill: var(--selected-iconcolor) !important;
}
/* Selected Left side Folders */
#placesList treechildren::-moz-tree-image(container selected) {
  fill: var(--selected-iconcolor) !important;
}

/* Left Side Rows Hover */
#placesList treechildren::-moz-tree-row(hover) {
  background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
}
/* Left Side Rows Selected */
#placesList treechildren::-moz-tree-row(selected) {
  background-color: var(--hover-bg-row) !important;
}
/* Left Side Text Hover */
#placesList treechildren::-moz-tree-cell-text(hover) {
  color: var(--hover-text-row) !important;
}
/* Left Side Text Selected */
#placesList treechildren::-moz-tree-cell-text(selected) {
  color: var(--selected-text-row) !important;
}

/* Searchbox */
#searchFilter {
  -moz-appearance: none !important;
  background-color: var(--odd-bg-row) !important;
  border: 1px solid var(--bordercolor) !important;
  color: var(--textcolor) !important;
  padding-block: 4px !important;
}
/* Search Icon */
.textbox-search-sign {
  filter: invert(56%) blue(80%) saturate(2591%) hue-rotate(81deg) brightness(118%) contrast(128%) !important
}
/* Searchbox Focus */
#searchFilter[focused] {
  box-shadow: var(--input-field-focus-shadow) !important;
  background-color: var(--odd-bg-row) !important;
  color: var(--textcolor) !important;
}
/* Clear Text Icon (Not sure how to style this) */
.textbox-search-clear {
}
/* Clear Downloads Button */
#clearDownloadsButton {
  color: var(--textcolor) !important;
}
#clearDownloadsButton[disabled] {
  opacity: .5 !important;
}

/* Details */
#detailsDeck {
  background-color: var(--background) !important;
  color: var(--textcolor) !important;
  border-top: 1px solid var(--bordercolor) !important;
}

/* Textbox, Field, Selector (some of this may change other places) */
#infoBox textbox, 
#infoBox listbox,
#editBMPanel_namePicker,
#editBMPanel_tagsField,
#editBMPanel_tagsSelector,
#editBMPanel_keywordField,
#editBMPanel_locationField {
  -moz-appearance: none !important;
  border: 1px solid var(--bordercolor) !important;
  background-color: var(--odd-bg-row) !important;
  color: var(--textcolor) !important;
}

/* Details button (limegreen)*/
#detailsDeck button {
  -moz-appearance: none !important;
  filter: invert(56%) blue(80%) saturate(2591%) hue-rotate(81deg) brightness(118%) contrast(128%) !important;
}

/* Details pane Bottom background color */
#detailsPane {
  background-color: var(--background) !important;
  border-top: 1px solid var(--bordercolor) !important;
}

/* Change color of the expander button in the details pane */
#editBookmarkPanelRows .expander-up, #editBookmarkPanelRows .expander-down {
  padding: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border: 1px solid var(--bordercolor) !important;
  color: var(--iconcolor) !important;
  background-color: var(--background) !important;
}

#editBookmarkPanelRows .expander-up:hover, #editBookmarkPanelRows .expander-down:hover {
  -moz-appearance: none !important;
  background-color: var(--hover-bg-row) !important;
}

/* Scrollbar colors in the Library pane, kinda */
scrollbar {
  scrollbar-color: rgba(140, 203, 236, 0.42) rgba(64, 79, 100, 1.0) !important;
 }
scrollbar:hover {
  scrollbar-color: rgba(140, 203, 236, 0.76) rgba(64, 79, 100, 1.0) !important;
 }
scrollbar:active {
  scrollbar-color: rgba(140, 203, 236, 1.0) rgba(64, 79, 100, 1.0) !important;
 }

}

/* Change colors/shape of search box in bookmark or history sidebar */
#search-box {
  -moz-appearance: none !important;
  background-color: #293649 !important;
  border: 1px solid rgba(140, 203, 236, 0.42) !important;
  color: white !important;
  border-radius: 4px !important;
  padding-block: 4px !important;
}

/* Scrollbar colors */
.panel-subview-body {
  scrollbar-color: rgba(140, 203, 236, 0.42) rgba(64, 79, 100, 1.0) !important;
 }
 .panel-subview-body:hover {
  scrollbar-color: rgba(140, 203, 236, 0.76) rgba(64, 79, 100, 1.0) !important;
 }
 .panel-subview-body:active {
  scrollbar-color: rgba(140, 203, 236, 1.0) rgba(64, 79, 100, 1.0) !important;
 }

 #permList, scrollbar {
  scrollbar-color: rgba(140, 203, 236, 0.42) rgba(64, 79, 100, 1.0) !important;
 }
 #permList, scrollbar:hover {
  scrollbar-color: rgba(140, 203, 236, 0.76) rgba(64, 79, 100, 1.0) !important;
 }
 #permList, scrollbar:active {
  scrollbar-color: rgba(140, 203, 236, 1.0) rgba(64, 79, 100, 1.0) !important;
 }

/* Change color of view button in bookmark/history sidebar */
 #viewButton {
  -moz-appearance: none !important;
  border-radius: 4px !important;
  padding: 2px 4px !important;
  color: inherit !important;
  background-color: var(--lwt-sidebar-background-color) !important;
  border-color: rgba(140, 203, 236, 0.42) !important;
}

#viewButton:hover {
  background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
}

#viewButton:active {
  background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
}

/* Hide minimize/maximize/close buttons until mouseover */
.titlebar-min {
  list-style-image: url(chrome://browser/skin/window-controls/minimize.svg);
  opacity: 1 !important;
  border-radius: 4px !important;
  padding-block: 0px !important;

}

.titlebar-min:hover {
  list-style-image: url(chrome://browser/skin/window-controls/minimize.svg);
  opacity: 1 !important;
  border-radius: 4px !important;
  padding-block: 0px !important;
  background-color: var(--toolbarbutton-hover-background) !important;
}

.titlebar-max {
  list-style-image: url(chrome://browser/skin/window-controls/minimize.svg);
  opacity: 1 !important;
  border-radius: 4px !important;
  padding-block: 0px !important;
}

.titlebar-max:hover {
  list-style-image: url(chrome://browser/skin/window-controls/minimize.svg);
  opacity: 1 !important;
  border-radius: 4px !important;
  padding-block: 0px !important;
  background-color: var(--toolbarbutton-hover-background) !important;
}

.titlebar-close {
  list-style-image: url(chrome://browser/skin/window-controls/minimize.svg);
  opacity: 1 !important;
}

.titlebar-close:hover {
  list-style-image: url(chrome://browser/skin/window-controls/minimize.svg);
  opacity: 1 !important;
}

.titlebar-restore {
  list-style-image: url(chrome://browser/skin/window-controls/minimize.svg);
  opacity: 1 !important;
  border-radius: 4px !important;
  padding-block: 0px !important;
}

.titlebar-restore:hover {
  list-style-image: url(chrome://browser/skin/window-controls/minimize.svg);
  opacity: 1 !important;
  border-radius: 4px !important;
  padding-block: 0px !important;
  background-color: var(--toolbarbutton-hover-background) !important;
}

/* Colors some of the tooltips */
tooltip {
  appearance: none !important;
  -moz-appearance: none !important;
  border-radius: 4px !important;
  background-color: #293649 !important;
  border-color: rgba(140, 203, 236, 0.42) !important;
  color: white !important;
  padding: 4px !important;
}

/* Colors the bottom left mouseover/loading label */
#statuspanel-label {
  color: white !important;
  background-color: #293649 !important;
  border-color: rgba(140, 203, 236, 0.42) !important;
  padding: 2px !important;
}

/* Colors the urlbar border on mouseover */
#urlbar-input-container:hover, #searchbox {
  border-color: rgba(145, 194, 246, 0.6) !important;
  box-shadow: 0 0 1px 2px rgba(145, 194, 246, 0.10) !important;
}

/* Colors the notification dropdown bar */
.container.infobar {
  background: var(--toolbar-field-background-color) !important;
  color: var(--toolbar-color) !important;
}

button.small-button {
  background-color: var(--toolbar-bgcolor) !important;
  color: var(--toolbar-color) !important;
  border-color: rgba(140, 203, 236, 0.42) !important;
}

button.small-button:hover {
  background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
}

/* Colors the notification drop down bar button */
.notification-button {
  background-color: var(--toolbar-bgcolor) !important;
  color: var(--toolbar-color) !important;
  border-color: rgba(140, 203, 236, 0.42) !important;
}

.notification-button:hover {
  background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
}

/* Remove "Private Browsing Mode" text on top bar in Private Mode */
#private-browsing-indicator-with-label > label {
	display: none !important;
}

/* Correct padding for downloads dropdown box */
#downloadsPanel-blockedSubview, #downloadsPanel-mainView {
  padding: 4px !important;
}

/* Delete "Email Image" in right click context menu */
#context-sendimage {
  display: none !important
}

/* Change normal tab max width to 240px like Chrome and Edge */
.tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"])
{
	max-width: 240px !important;
}

button {
  -moz-appearance: none !important;    
  color: white !important;
  border-radius: 4px !important;
  padding: 2px 4px !important;
  background-color: rgba(64, 79, 100, 0.98) !important;
  border-color: rgba(140, 203, 236, 0.42) !important;
}

button:hover {
  background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
}

button:active {
  background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
}

dialog {
  background-color: rgba(64, 79, 100, 0.98) !important;
  color: white !important;
}